---
http_interactions:
- request:
    method: get
    uri: http://translate.google.com.br/translate_a/t?client=p&ie=UTF-8&multires=1&oe=UTF-8&sc=1&sl=it&ssel=0&text=Ciao,%20come%20stai?&tl=en&tsel=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Content-Language:
      - en
      Content-Disposition:
      - attachment
    body:
      encoding: UTF-8
      string: '{"sentences":[{"trans":"Hello, how are you?","orig":"Ciao, come stai?","translit":"","src_translit":""}],"src":"it","server_time":4}'
  recorded_at: Tue, 06 Aug 2013 17:58:57 GMT
recorded_with: VCR 2.5.0
